body {
  background-color: #404040;
  color: #fff;
}

canvas {
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 0 0 0.375em black;
  display: block;
}

.color-button-list {
  list-style: none;
  li {
    .btn-color {
      width: 1.125em;
      height: 1.125em;
      border-radius: 0em;
    }

    input[type=color] {
      width: 2.125em;
      height: 2.125em;
      border-radius: 0em;
    }
  }
}

.toolbox-items {
  list-style: none;
  li {
    a {
      color: #ffffff;
      text-decoration: none;
      i {
        padding: 0.282em;
        box-shadow: 0 0 0.375em #000;
      }
    }
    .line {
      padding: 0em 0.282em 0em 0.282em;
      box-shadow: 0 0 0.375em #000;
      font-size: 2.500em;
    }
  }
}

#choice {
  width: 4.250em;
  height: 2.250em;
}
