body {
  background-color: #404040;
  color: #fff;
}

canvas {
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 0 0 3px black;
  display: block;
}

.color-button-list {
  list-style: none;
  li {
    .btn-color {
      width: 1.125em;
      height: 1.125em;
      border-radius: 0em;
    }

    input[type=color] {
      width: 2.125em;
      height: 2.125em;
      border-radius: 0em;
    }
  }
}
